<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LagoVista.Client.Core" version="1.2.224-alpha1803" targetFramework="xamarinios10" />
  <package id="LagoVista.Core" version="1.2.224-alpha1044" targetFramework="xamarinios10" />
  <package id="LagoVista.Core.Authentication" version="1.2.224-alpha1044" targetFramework="xamarinios10" />
  <package id="LagoVista.Core.Networking" version="1.2.224-alpha1044" targetFramework="xamarinios10" />
  <package id="LagoVista.IoT.Deployment.Models" version="1.2.224-alpha1044" targetFramework="xamarinios10" />
  <package id="LagoVista.IoT.DeviceAdmin.Models" version="1.2.224-alpha1044" targetFramework="xamarinios10" />
  <package id="LagoVista.IoT.DeviceManagement.Models" version="1.2.224-alpha1044" targetFramework="xamarinios10" />
  <package id="LagoVista.IoT.DeviceMessaging.Models" version="1.2.224-alpha1044" targetFramework="xamarinios10" />
  <package id="LagoVista.IoT.Logging" version="1.2.224-alpha1044" targetFramework="xamarinios10" />
  <package id="LagoVista.IoT.Pipeline.Models" version="1.2.224-alpha1044" targetFramework="xamarinios10" />
  <package id="LagoVista.UserAdmin.Models" version="1.2.224-alpha1044" targetFramework="xamarinios10" />
  <package id="LagoVista.XPlat" version="1.2.224-alpha1803" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Amqp" version="2.1.3" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.EventHubs" version="1.1.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile" version="0.17.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Analytics" version="0.17.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Crashes" version="0.17.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Distribute" version="0.17.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Push" version="0.17.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="xamarinios10" />
  <package id="System.Collections" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="xamarinios10" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="xamarinios10" />
  <package id="System.Reflection" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="xamarinios10" />
  <package id="System.Runtime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.121934" targetFramework="xamarinios10" />
</packages>